<div class="container-fluid" style="height: 100%;">
  <div ng-show="logged">
    <div class="search-box">
      <input g-places-autocomplete force-selection="true"  ng-model="address" placeholder="Where to?" ng-enter="search(address)">
    </div>
    <div style="height: 100%;" ng-show="tipsByUser || loading">
      <i class="fa fa-spinner fa-pulse fa-3x" aria-hidden="true" ng-show="loading" style="color: white; text-align: center;
    width: 100%; margin-top: 40px;"></i>
      <div ng-show="tipsByUser && tipsByUser.length > 0">
        <ul>
          <li ng-repeat="userAndTip in tipsByUser">
            {{userAndTip[0].name}}
            Tips:
            <div ng-repeat="tip in userAndTip[1]">
              {{tip.content}}
            </div>
          </li>
        </ul>
      </div>
      <div ng-show="tipsByUser && tipsByUser.length == 0">
        <h2>There are no tips for that location</h2>
      </div>
    </div>
  </div>
  <div class="home-signin" ng-hide="logged">

    <h3 class="">Log in with Facebook</h3>

  </div>
</div>