@import "../variables.scss";

.header {
  background-color: rgba(255,255,255,.9);
  border-color: #ececec;
  height: 46px;

  .user-actions {
    float: right;

    .profile-image {
      width: 42px;
      margin: 2px 0;
      cursor: pointer;
    }

    .dropdown-menu {
      left:auto;
      right: 0;
      > li > a {
        cursor: pointer;
      }
    }
  }

  .title {
    margin: 10px 10px;
    display: inline-block;
    font-family: ArialRoundedMTBold;
    font-size: 30px;
    letter-spacing: -0.3px;
    color: #cb3f2e;
    line-height: 26px;
    cursor: pointer;

    span {
      cursor: pointer;
      position: absolute;
    }
  }

  .signin {
    float: right;
    font-family: Lato;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
  }

  .btn-facebook {
    margin: 6px 0;
    float: right;
  }
}

@media (max-width: $screen-xs-max) {

}

@media (min-width: $screen-sm-min) {

}

@media (max-width: $screen-sm-max) {

}

@media (min-width: $screen-md-min) {

  .header .title {
    margin: 10px 0;  
    text-align: initial;
  }
}

@media (max-width: $screen-md-max) {

}

@media (min-width: $screen-lg-min) {

}